{% extends 'base_doctor.html' %}
{% block link %}
<link rel="stylesheet" href="../static/css/styleForm_ipbilling.css">
{% endblock %}

{% block content %}

<section class="form"></section>
<div class="container">
    <div class="title">Billing</div>

    <form action="{% url 'billing' %}" method="POST">
        {% csrf_token %}
        <div class="user-details">

            <div class="input-box">
                <span class="details">Bill number: </span>
                <input type="number" name="billNo" placeholder="Enter Bill number" required>
            </div>

            <div class="input-box">
                <span class="details">Patient's Name: </span>
                <input type="text" name="name" placeholder="Enter Name" value="{{appointment.user.first_name}}" required>
            </div>

            <div class="input-box">
                <span class="details">Patient's Contact number: </span>
                <input type="text" name="contactno" placeholder="Enter contact no" value="{{appointment.contactno}}" required>
            </div>


            <div class="input-box">
                <span class="details">Patient's Location: </span>
                <input type="text" name="location" placeholder="Enter location" value="{{data.location}}" required>
            </div>

            <div class="input-box">
                <span class="details">Date of Appointment: </span>
                <input type="text" name="doa" placeholder="" value="{{appointment.date}}" required>
            </div>

            <!-- <div class="input-box">
                    <span class="details">Date of Discharge: </span>
                    <input type="date" name="dod" placeholder="" required>
                </div> -->

            <!-- <div class="input-box" id="gender">
                    <span class="details">Gender:&nbsp&nbsp&nbsp</span>
                    <span class="details">Non-binary:</span>
                    <input type="radio" name="gender" value="Non-binary">
                    <span class="details">Binary:</span>
                    <input type="radio" name="gender" value="Binary">
                </div> -->

            <div class="input-box">
                <span class="details">Consultation charges: </span>
                <input type="number" name="consultationFee" placeholder="Enter Consultation Fee" required>
            </div>

            <div class="input-box">
                <span class="details">Doctor's Fees: </span>
                <input type="number" name="docFee" placeholder="Enter Doctor's Fees" required>
            </div>

            <div class="input-box">
                <span class="details">Miscellaneous Charges: </span>
                <input type="number" name="miscCharge" placeholder="Enter Miscellaneous Charges" required>
            </div>

            <div class="input-box">
                <span class="details">Total Amount: </span>
                <input type="number" name="total" placeholder="Enter Total" required>
            </div>

            <div class="button">
                <button class="btn" id="btn">Submit</button>
            </div>

        </div>
    </form>
</div>
</section>

{% endblock %}