{% extends 'base_patient.html' %}
{% block title %}Patient Status{% endblock %}
{% block link %}
<style>
    * {
        margin: 0;
        padding: 0;
        /* font-family: sans-serif; */
    }

    body {
        background: url('../static/Images/mc1.jpg') no-repeat center/cover;
        background-attachment: fixed;
    }

    .container {
        max-width: 95rem;
        margin: 5rem auto;
    }

    .box {
        background-color: rgba(0, 0, 0, 0.5);
        width: auto;
        /* font-size: xx-large; */
        border-radius: 15px;
        color: #fff;
        padding: 3rem;
        /* padding-top: 4rem;
            padding-bottom: 5rem; */
    }

    .table-content {
        border-collapse: collapse;
        margin: auto;
        font-size: larger;
        min-width: 85rem;
        /* margin-top: 50px; */
    }

    .table-content thead tr {
        background-color: yellow;
        color: rgb(0, 31, 81);
        text-align: left;
        font-weight: bold;
        border-radius: 20px;
    }

    .table-content th,
    .table-content td {
        padding: 12px 15px;
    }

    .title {
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        margin-top: 2rem;
        text-align: center;
    }

    .btn {
        border: 1px solid gray;
        border-radius: 2px;
        background-color: white;
        padding: 5px 5px;
        margin: auto;
        display: table;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .status_a {
        text-decoration: none;
        color: black;
    }
</style>

{% endblock %}
{% block content %}
<!-- <div class="title">Status for{{appointments.user.first_name}}: </div> -->
{% if appointments %}
<section>
    <div class="container">
        <div class="box">

            <div class="table">
                <table class="table-content">
                    <thead>
                        <tr>
                            <th>Checkup Date</th>
                            <th>Checkup Time</th>
                            <th>Type</th>
                            <th>Service</th>
                            <th>Appointment</th>
                            <th>Reappointment</th>
                            <th>Checkup status</th>
                            <th>Doctor summary</th>
                            <th>Bill</th>
                        </tr>
                    </thead>
                    <!-- <hr> -->
                    {% for appointments in appointments %}
                    <tr>
                        <td>{{appointments.date}}</td>
                        <td style="text-transform: capitalize;">{{appointments.time}}</td>
                        <td>{{appointments.type}}</td>
                        <td>{{appointments.services}}</td>
                        <td>
                            {% if appointments.accepted == True %}
                            <label>Accepted</label>
                            {% elif appointments.accepted == False %}
                            <label>Pending</label>
                            {% endif %}
                        </td>
                        <td>
                            <button type="submit" class="btn">
                                <a href="appointment.html" class="status_a">Appointment</a>
                            </button>
                        </td>
                        <td>
                            {% if appointments.checkupstatus == True %}
                            <label>Checkup Done</label>
                            {% elif appointments.checkupstatus == False %}
                            <label>Checkup Pending </label>
                            {% endif %}
                        </td>
                        <td>
                            <button type="submit" class="btn">
                                <a href="{% url 'patientDoctorSummary' %}?uid={{appointments.id}}"
                                    class="status_a">Doctor Summary</a>
                            </button>
                        </td>
                        <td>
                            {% if appointments.bill_generated == True %}
                            <button type="submit" class="btn">
                                <a href="{% url 'download_bill_pdf' %}?bid={{appointments.id}}" class="status_a">Download Bill</a>
                            </button>
                            {% elif appointments.bill_generated == False %}
                            <button type="submit" class="btn" disabled="disabled">
                            Download Bill
                            </button>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% else %}
<h1 style="margin-top: 2rem; color: #fff;">NO DATA FOUND!</h1>
{% endif %}

{% endblock %}