<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/styleForm_roominfo.css">
    <title>Room Info</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav_links">
                
                <li> <a href="index.html">Home</a> </li>
                
                <li> <a href="#">Registration</a>
                    <ul class="drop_items">
                        <li> <a href="ipreg.html">Inpatient Registration</a> </li>
                        <li> <a href="opreg.html">Outpatient Registration</a> </li>
                    </ul>
                </li>
                
                <li> <a href="#">Information</a>
                    <ul class="drop_items">
                        <li> <a href="docinfo.html">Doctor's Info</a> </li>
                        <li> <a href="roominfo.html">Room's Info</a> </li>
                    </ul>
                </li>
                
                <li> <a href="#">Billing</a>
                    <ul class="drop_items">
                        <li> <a href="ipbilling.html">Inpatient Billing</a> </li>
                        <li> <a href="opbilling.html">Outpatient Billing</a> </li>
                    </ul>
                </li>
                
                <li> <a href="pathology.html">Pathology</a> </li>

                <li><a href="manage_appointments.html">Appointments</a></li>
                
                <li> <a href="#" >Search</a> 
                    <ul class="drop_items">
                        <li> <a href="searchip.html">Inpatient Search</a> </li>
                        <li> <a href="searchop.html">Outpatient Search</a> </li>
                    </ul>
                </li>

                

            </ul>
        </nav>
    </header>

    <section class="form"></section>
    <div class="container">
        <div class="title">Room Information</div>

        <form action="roominfo.html" method="POST">
            {% csrf_token %}
            <div class="user-details">

                <div class="input-box">
                    <span class="details">Room number: </span>
                    <input type="number" name="roomNo" placeholder="Enter Room number" required>
                </div>

                <div class="input-box">
                    <span class="details">Room type: </span>
                    <input type="text" name="roomType" placeholder="Enter Room type" required>
                </div>

                <div class="button">
                    <button class="btn">Submit</button>
                </div>

            </div>
        </form>
    </div>
    </section>
</body>
</html>